{% extends 'base.html.twig' %}

{% block title %}Edit Voucher{% endblock %}

{% block body %}
    <h1>Edit Voucher</h1>

    {{ include('voucher/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('voucher_index') }}">Volver a lista</a>

    {{ include('voucher/_delete_form.html.twig') }}
{% endblock %}
