{% extends 'base.html.twig' %}

{% block title %}New Voucher{% endblock %}

{% block body %}
    <h1>Nuevo Voucher</h1>

    {{ include('voucher/_form.html.twig') }}

    <a href="{{ path('voucher_index') }}">Volver a la lista</a>
{% endblock %}
