{% extends 'base.html.twig' %}

{% block title %}
Informe de Cumpleaños
{% endblock %}

{% block body %}
<h2>Informe de Cumpleaños</h2>
<div class="no-print col-12 col-md-6">
    {{ form(form) }}
</div>


    {% if data is not null %}
        {{ include('contacto/_cuadro_ver.html.twig',{'contactos':data}) }}
    {% endif %}
{% endblock %}

