{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cambios Masivos</h1>
<h3>Filtro</h3>
    {{ form(form) }}
    <h3>Lista de Comisones</h3>
    {{ form(masivoForm) }}

{% endblock %}

{% block title %}

{% endblock %}

