{% extends 'base.html.twig' %}

{% block title %}New Comision{% endblock %}

{% block body %}
    <h1>Create new Comision</h1>

    {{ include('comision/_form.html.twig') }}

    <a href="{{ path('comision_index') }}">back to list</a>
{% endblock %}