{% extends 'base.html.twig' %}

{% block title %}Edit Pago{% endblock %}

{% block body %}
    <h1>Edit Pago</h1>

    {{ include('pago/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pago_index') }}">back to list</a>

    {{ include('pago/_delete_form.html.twig') }}
{% endblock %}