{% extends 'base.html.twig' %}

{% block title %}New Pago{% endblock %}

{% block body %}
    <h1>Create new Pago</h1>

    {{ include('pago/_form.html.twig') }}

    <a href="{{ path('pago_index') }}">back to list</a>
{% endblock %}